@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 45, 52, 54;
  --background-start-rgb: 236, 240, 241;
  --background-end-rgb: 255, 255, 255;
  --primary-dark: #2c3e50;
  --secondary-coral: #ff6b6b;
  --accent-teal: #1abc9c;
  --background-off-white: #ecf0f1;
  --text-dark-slate-gray: #2d3436;
  --primary-dark2:#1F2544;
  --primary-text:#FEFBF6;
  --vintage-orange:#ECB159;
  --vintage-brown:rgb(182, 115, 82);
  --vintage-orange-50: rgb(6, 182, 212,0.6);
  
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


  

@layer components {
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
